@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 30rem;
    height: 15rem;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

